# Editing/IDE
.directory
*.kdev4
*~
*kate-swp

# Git and GitHub
.git
.github

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
_deps
*.json
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
install_manifest.txt
Makefile
Testing

# Documentation
*.html
*.latex

# CoastalME-specific
c*warnings.txt
00_old/
callgrind.out.*
cme
cshore/ARG/
cshore/cshore.out
cshore/FILE/
cshore/infile
cshore/master*
cshore/O*
cshore/scr.txt
DEM_grid*
Doxygen/
in/00*
in/Andalucia/
in/DEM*
in/Exmouth
in/GMD2017/
in/Happisburgh/jsme_wilf.dat
in/simple*
in/Wilf_ScenB
libcshore.a*
libcshore.so*
Misc/
out/
src/.cache/
src/.kdev4/
src/build
src/Callgrind/
src/cmake_install.cmake
src/cppcheck*
src/Debug/
src/do_clang-tidy.sh
src/do_cppcheck.sh
src/gcov/
src/Makefile
src/Release/
utils/
valgrind*
