BasedOnStyle: None
AlignTrailingComments: true
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentWidth: 3
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
TabWidth: 3
UseTab: Never

DerivePointerAlignment: true
PointerAlignment: Left
ReferenceAlignment: Right

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true

